@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<CompanyInformation.MainViewModel>
@{
    Layout = null;
}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="/images/favicon.ico">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        <title>UPP Prototype</title>

        <!-- Styling content -->
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />

        <!--  Light Bootstrap Table core CSS    -->
        <link href="css/bootstrap/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

        <!--  CSS for Demo Purpose, don't include it in your project     -->
        <!-- <link href="css/app.css" rel="stylesheet" /> -->

        <!--  Fonts and icons     -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap/pe-icon-7-stroke.css" rel="stylesheet" />

        <!-- Bootstrap Data Table -->
        <link href="//cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet">
        <link href="//cdn.datatables.net/buttons/1.5.1/css/buttons.bootstrap.min.css" rel="stylesheet">
        <link href="//cdn.datatables.net/select/1.2.5/css/select.bootstrap.min.css" rel="stylesheet">
        <link href="//editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css" rel="stylesheet">
    </head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue">
            <div class="sidebar-wrapper">
                <div class="logo">
                    Permit Issuer Setup
                </div>
                <ul class="nav">
                    <li class="active">
                        <a href="">
                            <i class="pe-7s-config"></i>
                            <p>Configuration</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Fixed Configuration Parameters</h4>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Scopes</td>
                                        <td>@Model.Configuration.Keyword(UPP.Configuration.Keys.SERVICE_DIRECTORY__SCOPES)</td>
                                    </tr>
                                    <tr>
                                        <td>Self URI</td>
                                        <td>@Model.Configuration.Keyword(UPP.Configuration.Keys.SERVICE_DIRECTORY__HOST_URI)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Company Information</h4>
                            <table id="users" class="table table-full-width">
                                <thead>
                                    <tr>
                                        <th>Email</th>
                                        <th>Companies</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Company Information</h4>
                                <table id="data" class="table table-full-width">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Email</th>
                                            <th>Contact</th>
                                            <th>Phone</th>
                                            <th>Fax</th>
                                            <th>Cell</th>
                                            <th>Bill To</th>
                                            <th>Billing Address</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                    </p>
                </div>
            </footer>
        </div>
    </div>
    <script src="js/jquery.3.2.1.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="//cdn.datatables.net/buttons/1.5.1/js/buttons.bootstrap.min.js"></script>
    <script src="//cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
    <script src="//editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
    <script>
        $(document).ready(function () {
            var editor = editor = new $.fn.dataTable.Editor({
                ajax: "data/query",
                table: "#data",
                fields: [{
                    label: "First name:",
                    name: "first_name"
                }, {
                    label: "Last name:",
                    name: "last_name"
                }, {
                    label: "Position:",
                    name: "position"
                }, {
                    label: "Office:",
                    name: "office"
                }, {
                    label: "Extension:",
                    name: "extn"
                }, {
                    label: "Start date:",
                    name: "start_date",
                    type: "datetime"
                }, {
                    label: "Salary:",
                    name: "salary"
                }
                ]
            });

            var table = $('#data').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "data/query",
                "columns": [
                    { data: "companyName" },
                    { data: "email" },
                    { data: "contact" },
                    { data: "phone" },
                    { data: "fax" },
                    { data: "cell" },
                    { data: "billTo" },
                    { data: "billingAddress" }
                ],
                "select": true,
                buttons: [
                    { extend: "create", editor: editor },
                    { extend: "edit", editor: editor },
                    { extend: "remove", editor: editor }
                ]
            });
        });
    </script>
</body>
</html>