<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- UPP Host configuration -->
    <section name="upp" type="UPP.Configuration.HostConfigurationSection, UPP.Configuration" />
  </configSections>
  <upp>
    <keywords>
      <!-- Configuration propery for the Web UI -->
      <add key="Nancy:BaseUri" value="http://localhost:56486" />
    </keywords>
  </upp>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>