@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Manager.Host.PermitView.InsuranceInfo>
@using Manager.Helpers
@{
    Layout = null;
}
<fieldset>
    <legend>Insurance Information</legend>
    <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-8">
            <select class="form-control" id="insurer-selector">
                <option></option>
            </select>
        </div>
    </div>
    @Html.GroupItem(Model.Provider, "Provider", "Insurance Provider")
    @Html.GroupItem(Model.AgencyAddress, "AgencyAddress", "Agency Address")
    @Html.GroupItem(Model.PolicyNumber, "PolicyNumber", "Policy Number")
    @Html.GroupItem(Model.InsuredAmount, "InsuredAmount", "Insured Amount")
</fieldset>
