<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="UPP Manager" stopProcessing="true">
          <match url="^manager(.*)" />
          <action type="Rewrite" url="http://localhost:56484/{R:1}" />
        </rule>
        <rule name="UPP Authentication" stopProcessing="true">
          <match url="^authentication/(.*)" />
          <action type="Rewrite" url="http://localhost:56484/authentication/{R:1}" />
        </rule>
        <rule name="UPP Service Directory" stopProcessing="true">
          <match url="^sd/(.*)" />
          <action type="Rewrite" url="http://localhost:56485/{R:1}" />
        </rule>
        <rule name="UPP Company Info" stopProcessing="true">
          <match url="^company/(.*)" />
          <action type="Rewrite" url="http://localhost:56486/{R:1}" />
        </rule>
        <rule name="UPP Insurance Info" stopProcessing="true">
          <match url="^insurance/(.*)" />
          <action type="Rewrite" url="http://localhost:56487/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
