<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="UPP Manager" stopProcessing="true">
          <match url="^manager(.*)" />
          <action type="Rewrite" url="http://localhost:56484/{R:1}" />
        </rule>
        <rule name="UPP Authentication" stopProcessing="true">
          <match url="^authentication/(.*)" />
          <action type="Rewrite" url="http://localhost:56484/authentication/{R:1}" />
        </rule>
        <rule name="UPP Service Directory" stopProcessing="true">
          <match url="^sd/(.*)" />
          <action type="Rewrite" url="http://localhost:56485/{R:1}" />
        </rule>
        <rule name="UPP Company Info" stopProcessing="true">
          <match url="^company/(.*)" />
          <action type="Rewrite" url="http://localhost:56486/{R:1}" />
        </rule>
        <rule name="UPP Insurance Info" stopProcessing="true">
          <match url="^insurance/(.*)" />
          <action type="Rewrite" url="http://localhost:56487/{R:1}" />
        </rule>
		<rule name="UPP Vehicle Info" stopProcessing="true">
			<match url="^vehicle/(.*)" />
			<action type="Rewrite" url="http://localhost:56488/{R:1}" />
		</rule>
		<rule name="UPP Truck Info" stopProcessing="true">
			<match url="^truck/(.*)" />
			<action type="Rewrite" url="http://localhost:56490/{R:1}" />
		</rule>
		<rule name="UPP Trailer Info" stopProcessing="true">
			<match url="^trailer/(.*)" />
			<action type="Rewrite" url="http://localhost:56489/{R:1}" />
		</rule>
		<rule name="UPP Beltrami Permits" stopProcessing="true">
			<match url="^beltrami-permits/(.*)" />
			<action type="Rewrite" url="http://localhost:56500/{R:1}" />
		</rule>
		<rule name="UPP Cass Permits" stopProcessing="true">
			<match url="^cass-permits/(.*)" />
			<action type="Rewrite" url="http://localhost:56501/{R:1}" />
		</rule>
		<rule name="UPP Clearwater Permits" stopProcessing="true">
			<match url="^clearwater-permits/(.*)" />
			<action type="Rewrite" url="http://localhost:56502/{R:1}" />
		</rule>
		<rule name="UPP Hubbard Permits" stopProcessing="true">
			<match url="^hubbard-permits/(.*)" />
			<action type="Rewrite" url="http://localhost:56503/{R:1}" />
		</rule>
		<rule name="UPP Itasca Permits" stopProcessing="true">
			<match url="^itasca-permits/(.*)" />
			<action type="Rewrite" url="http://localhost:56504/{R:1}" />
		</rule>
		<rule name="UPP Polk Permits" stopProcessing="true">
			<match url="^polk-permits/(.*)" />
			<action type="Rewrite" url="http://localhost:56505/{R:1}" />
		</rule>
		<rule name="UPP St Louis Permits" stopProcessing="true">
			<match url="^stlouis-permits/(.*)" />
			<action type="Rewrite" url="http://localhost:56506/{R:1}" />
		</rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
