<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- UPP Host configuration -->
    <section name="upp" type="UPP.Configuration.HostConfigurationSection, UPP.Configuration" />
  </configSections>
  <upp>
    <keywords>
      <!-- Configuration propery for the Web UI -->
      <add key="Nancy:BaseUri" value="http://localhost:56491" />

      <!-- UPP Service Directory -->
      <add key="ServiceDirectory:BaseUri" value="http://localhost:56485/api/v1" />
      <add key="ServiceDirectory:HostUri" value="http://localhost:56491/api/v1/axles" />
      <add key="ServiceDirectory:Scopes" value="axle.information" />

      <add key="ServiceDirectory:Name" value="_axle._upp" />
      <add key="ServiceDirectory:Label" value="UPP Axle Information" />
      <add key="ServiceDirectory:Description" value="A UPP Axle Information provider that returns data in JSON API format.  This API supports UPP JWT authorization." />
      <add key="ServiceDirectory:Type" value="upp.information.axle" />
      <add key="ServiceDirectory:Format" value="json_api" />
    </keywords>
  </upp>
  <appSettings file="UPP.SECRETS.config">
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>