<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- UPP Host configuration -->
    <section name="upp" type="Manager.Configuration.HostConfigurationSection, Manager" />
  <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup></configSections>
  <upp>
    <keywords>
      <!-- Configuration propery for the Web UI -->
      <add key="Nancy:BaseUri" value="http://localhost:56484" />      
    </keywords>
    <microservices>
      <add key="esri.routing" name="Esri Premium Routing Service" type="route" priority="1" uri="https://route.arcgis.com/arcgis/rest/services/World/Route/NAServer/Route_World/solve" />
      <add key="esri.geometry" name="Esri Geometry Service" type="geometry" priority="1" uri="https://tasks.arcgisonline.com/ArcGIS/rest/services/Geometry/GeometryServer" />
      <add key="esri.county.boundaries" name="Esri County Boundaries" type="county.boundaries" priority="1" uri="https://services.arcgis.com/BG6nSlhZSAWtExvp/arcgis/rest/services/counties_MN/FeatureServer/0" />
    </microservices>
  </upp>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings file="UPP.SECRETS.config">
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>