<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Secret Key for signing JWTs -->
  <add key="UPP:Security:JWT:Key" value="" />
  
  <!-- OAuth: Client IDs and secrets -->
  
    <!-- The Google+ API must be enabled on the project that generated the key to get client information -->
    <add key="UPP:Security:OAuth:Google:Key" value="" />
    <add key="UPP:Security:OAuth:Google:Secret" value="" />
  
  <!-- OAuth: End -->
</appSettings>
