@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Manager.Store.Services.UserRecord>
@using Manager.Helpers
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <title>UPP Prototype</title>

    <!-- Styling content -->
    <link href="../../css/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="../../css/bootstrap/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="../../css/bootstrap/light-bootstrap-dashboard.css?v=1.4.0" rel="stylesheet" />

    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="../../css/app.css" rel="stylesheet" />

    <!--  Fonts and icons     -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="../../css/bootstrap/pe-icon-7-stroke.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="sidebar" data-color="blue">
            <div class="sidebar-wrapper">
                <div class="logo">
                    Dashboard
                </div>
                <ul class="nav">
                    <li>
                        <a href="../../dashboard.html">
                            <i class="pe-7s-graph"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="../../permit.html">
                            <i class="pe-7s-car"></i>
                            <p>Permit</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="../../admin.html">
                            <i class="pe-7s-key"></i>
                            <p>Administration</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <form class="form-horizontal" method="post">
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">User Id</label>
                            <div class="col-sm-8">
                                <input type="text" name="UserId" class="form-control" readonly value="@Model.UserId" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">User Label</label>
                            <div class="col-sm-8">
                                <input type="text" name="UserLabel" class="form-control" value="@Model.UserLabel" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 control-label">Claims</label>
                            <div class="col-sm-8">
                                <input type="text" name="ExtraClaims" class="form-control" value="@Model.ExtraClaims" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-8">
                                <button class="btn btn-primary" type="submit">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy;
                        <script>document.write(new Date().getFullYear())</script>
                    </p>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>