<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- UPP Host configuration -->
    <section name="upp" type="UPP.Configuration.HostConfigurationSection, UPP.Configuration" />
  </configSections>
  <upp>
    <keywords>
      <!-- Configuration propery for the Web UI -->
      <add key="Nancy:BaseUri" value="http://localhost:56490" />

      <!-- UPP Service Directory -->
      <add key="ServiceDirectory:BaseUri" value="http://localhost:56485/api/v1" />
      <add key="ServiceDirectory:HostUri" value="http://localhost:56490/api/v1/trucks" />
      <add key="ServiceDirectory:Scopes" value="information.truck" />

      <add key="ServiceDirectory:Name" value="_truck._upp" />
      <add key="ServiceDirectory:Label" value="UPP Truck Information" />
      <add key="ServiceDirectory:Description" value="A UPP Truck Information provider that returns data in JSON API format.  This API supports UPP JWT authorization." />
      <add key="ServiceDirectory:Type" value="upp.information.truck" />
      <add key="ServiceDirectory:Format" value="json_api" />

      <!-- Assigned RFC 4122 UUID value, e.g. 6948DF80-14BD-4E04-8842-7668D9C001F5 -->
      <add key="UPP:Identity" value="PrototypeTruckInfo" />
      <add key="UPP:Authority" value="upp_mja_mn" />
    </keywords>
  </upp>
  <appSettings file="UPP.SECRETS.config">
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>